:root {
    --pinkbg: rgba(154, 103, 168, 0.75);
    --pinkbg2: rgba(154, 103, 168, 0.9);
    --blackbg: rgba(20, 20, 20, 0.8);
    --textshadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    --textshadow2: 2px 2px 2px rgba(65, 65, 65, 0.65);
    --boxshadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

* {
    box-sizing: border-box;
    margin: 0px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("Background\ Images/Dreamxiety.png");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-shadow: var(--textshadow2);
}

#header {
    display: flex;
    justify-content: center;
    height: calc(100vh - 20px);
    align-items: center;
}

#loginBox {
    height: 650px;
    width: 400px;
    border-radius: 20px;
    background-color: var(--pinkbg);
    padding: 35px;
    margin-top: 20px;
    margin-bottom: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: var(--boxshadow);
}

#boxHeader {
    display: block;
    text-align: center;
}

#osuLogo {
    height: 150px;
    margin-bottom: 20px;
    box-shadow: var(--boxshadow);
    border-radius: 50%;
}

#userFields {
    display: block;
    margin: 30px 0 20px;
}

.accountInfo {
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 20px;
    margin: 10px 0;
    padding: 20px;
}

#createAccount {
    display: flex;
    justify-content: center;
}

#createAccountLink {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

#createAccountText {
    text-decoration: underline;
    margin-right: 10px;
}

#footer {
    width: 100%;
    height: 20px;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--pinkbg);
}

#footerInfo {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

#footerInfo a {
    text-decoration: none;
    color: black;
}

#footerInfo a :hover {
    text-decoration: underline;
}