:root {
    --pinkbg: rgba(154, 103, 168, 0.75);
    --pinkbg2: rgba(154, 103, 168, 0.9);
    --blackbg: rgba(20, 20, 20, 0.8);
    --textshadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    --textshadow2: 2px 2px 2px rgba(65, 65, 65, 0.65);
    --boxshadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

* {
    box-sizing: border-box;
    margin: 0px;
}

html {
    height: 100%;
    width: 100%;
}

#footer {
    width: 100%;
    height: 20px;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(154, 103, 168, 0.5);
}

#footerInfo {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

#footerInfo a {
    text-decoration: none;
    color: black;
}

#footerInfo a :hover {
    text-decoration: underline;
}